<!-- index.html -->
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Firebase Google Auth</title>
    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/9.x.x/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.x.x/firebase-auth-compat.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
    <!-- Your app -->
    <script src="app.js"></script>
</head>
<body ng-controller="AuthController">
    <div>
        <!-- Login button -->
        <button ng-click="signInWithGoogle()" ng-if="!user">
            Sign in with Google
        </button>

        <!-- User info and logout -->
        <div ng-if="user">
            <p>Welcome, {{user.displayName}}!</p>
            <img ng-src="{{user.photoURL}}" alt="Profile photo" style="width: 50px;">
            <button ng-click="signOut()">Sign Out</button>
        </div>
    </div>
</body>
</html>